.chearch ion-img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}
.chearch ion-label {
  margin-left: 20px;
  font-style: italic;
}
.head{
  display: flex;
  float: left;
}
.chearch{
  float: right;

}
.heada ion-img{
  width: 60px;
  height: 60px;
  // padding: 5px 50px 0px 0px;
  margin-right: 150px;
  margin-left: 0px;
  margin-bottom: 5px;
}
.heada ion-label {
  // display: flex;
  // float: left;
  font-style: italic;
  margin-left: 10px;
}
h4{
  margin-top: 100px;
  text-align: center;
}
.mad ion-img{
  margin-left: 80%;
}
